<head>
<title="Shopping-plus">
</head>
<style>

  body {
 background: #00F260; 
background: -webkit-linear-gradient(to left, #0575E6, #00F260); 
background: linear-gradient(to left, #0575E6, #00F260);
}
   .Basket {
  position: relative;
  display: flex;
  margin-left: 70%;
  
}
.order {
  padding: 5%;
  color: white;
  background-color: green;
  font-size: 80%;
}
.order_info {
  position: relative;
  margin-right: 25%;
}
 .AddItem {
  margin-left: 3%;
  margin-right: 3%;
  position: relative;
  width: 2%;
  padding: 0.3%;
  color: red;
  background-color: green;
}
 .RMItem {
  margin-left: 3%;
  margin-right: 3%;
  position: relative;
  width: 2%;
  padding: 0.3%;
  color: green;
  background-color: red;
}

</style
<body>
<% if ENV['ENVIRONMENT'] == 'dev' %>
  <div class="devtools">
  <h2>Developer</h2>
  <form action="/menu-maker">
  <button value="menu_create" </button>New Menu
  </form>
  </div>
<% end %>
<h1 align="center">Menu</h1>
</h1>
<ul>
  <form action="/add"method="post">
 <div class="menu">
 <h2>
<% @items.each_with_index do |item, i| %>
  <li><%= item[:name] %> : £<%= '%.2f' % ((item[:price].to_f/100.00).round(2)).to_s %>
    <button class="AddItem"id="<%="item#{i}"%>"value="<%= item[:name] %>"name=<%= [item[:price]] %> + </button>
  </li> 
  <% end %>
</h2>
</div>
 </form>
</ul>
Basket: £<%=('%.2f' % (@order.total_charge.to_f/100.00).round(2)).to_s%>
 <h2>
 <div class="order_info">
 <form action="/order_place"method="post">
<% @order.item_list.each_with_index do |item, i| %>
  <li><%= item[:name] %> : £<%= '%.2f' % ((item[:price].to_f/100.00).round(2)).to_s %>
  <button formaction="/remove"class="RMItem"id="Rm<%=i%>"value="<%= item[:name] %>"name=<%= [item[:price]] %>> - </button>
  </li> 
  <% end %>
  <button formaction="/order_place"value="Checkout"class="order"> Place Order </button>
  </div>
</form>
</h2>
</div>
</body>